body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header,
.hero-banner{
    background-color: #1f2937;
    padding: 0 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    color: #f9faf8;
    font-size: 24px;
}

.nav-buttons>ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 40px;
}

a {
    color: #afafaf;
    text-decoration: none;
}

.hero-banner{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;

}

.hero-left,
.hero-right{
    flex: 1;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up{
    background-color: #3882f6;
    color: #F9Faf8;
    width: 125px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.sign-up-text{
    color: #F9Faf8;
}

/* min-width is needed to get the picture to not overflow out of the box */
.hero-right{
    min-width: 0px;
}

.hero-text{
    font-size: 48px;
    color: #F9Faf8;
    font-weight: bolder;
}

.hero-caption{
    color: #e5e7eb;
    font-size: 18px;
}